body {
  background-color: #f9f9f9
}

div#app {
  height: 100%;
}

div.loginpage {
  background-image: url(../images/bg.png);
  height: 100%;
}
.ui.menu.nav {
  border-bottom: 1px solid #2185d0;
}

.topic-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ui.container.detailedtopic {
  margin-top: 50px;
}

.ui.text.container.newcommentcontainer {
  float: left;  
}

.ui.small.rounded.image.topicavatar {
  margin-top: 0.5rem;
  box-shadow: 3px 3px 11px 2px #d4d4d5, 0 0 0 1px #d4d4d5;
}

.ui.inverted.dimmer {
  background-color: rgba(255,255,255,1.0);
}

.ui.menu.toppit-logo {
  font-size: 50px;
  font-style: 'italic';
  color: '#2185d0';
}

.ui.menu {
  border-bottom: 2px;
  border-bottom-color: rgb(33, 133, 208);
  border-bottom-style: solid;
}

.ui.google.plus.button {
  margin-top: 5px;
  margin-bottom: 10px
}

.ui.fluid.button.githublogin {
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #444;
  color: 'white';
}

.logo {
  width: 100px;
}

.ui.menu .item>img:not(.ui) {
    display: inline-block;
    vertical-align: middle;
    margin: -.3em 0;
    width: 100px;
}

.ui.menu .item {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: 5px;
    text-transform: none;
    color: rgba(0,0,0,.87);
    font-weight: 400;
    -webkit-transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;
}

.ui.icon.header {
    display: inline-block;
    text-align: center;
    margin: 2rem 0 1rem;
    padding-left: 19%;
}

.ui.grid>.row>[class*="twelve wide"].column, .ui.grid>[class*="twelve wide"].column {
    width: 75%!important;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    padding: 10px;
    background-color: #fff;
}

.ui.inverted.dimmer>.content>* {
    background-color: #f9f9f9;
    color: #fff;
}
.ui.card.meta.topicauthorname {
  font-size: 1em;
  color: rgba(0,0,0,.4);
}

.ui.meta.topictime {
  font-size: 1em;
  color: rgba(0,0,0,.4);
  font-style: italic;
}
