body {
  background-color: #f9f9f9
}

.ui.menu.nav {
  border-bottom: 1px solid #2185d0;
}

.topic-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ui.inverted.dimmer {
  background-color: rgba(255,255,255,1.0);
}

.ui.menu.toppit-logo {
  font-size: 50px;
  font-style: 'italic';
  color: '#2185d0';
}

.ui.menu {
  border-bottom: 2px;
  border-bottom-color: rgb(33, 133, 208);
  border-bottom-style: solid;
}

.ui.google.plus.button {
  margin-top: 5px;
  margin-bottom: 10px
}

.ui.fluid.button.githublogin {
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #444;
  color: 'white';
}

